body {
    margin: 0;
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
}
@media only screen and (min-width : 736px) {
    body {
        font-size: 16px;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
}

nav {
    text-align: right;
    letter-spacing:1px;
    font-size: 90%;
}

nav ul {
    padding: 0px;
    list-style: none;
    margin: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: steelblue;
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}

h1 {
    font-weight: 100;
    color: sienna;
    font-size: 140%;
}

@media only screen and (min-width : 736px) {
    h1 {
        font-size: 200%;
    }
}

h2 {
    color: sienna;
    font-size: 110%;
    -webkit-margin-after: 0;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    color: #e0a182;
}

footer {
    padding-top: 10px;
    border-top: 1px solid #ccc;
    font-size: .8em;
}

ul {
    -webkit-padding-start: 0;
    list-style: none;
}

ul.posts {
    /*margin: 20px auto 40px;*/
}

ul.posts li {
    list-style: none;
    margin-bottom: 25px;
}

.container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.sub-container {
}

@media only screen and (min-width : 737px) {
    .sub-container {
        margin-left: 20%;
        margin-right: 20%;
    }
}

.quiet {
    color: #999;
}

.post-date {
   color: #999;
   font-size:0.8em;
}


.post {
   font-family: 'Cormorant Garamond', serif;
   font-size: 115%;
   letter-spacing: 0.5px;
}

@media only screen and (min-width : 737px) {
    .post {
        margin-left: 20%;
        margin-right: 20%;
    }
}

.post-preview {
   font-family: 'Cormorant Garamond', serif;
   font-size: 1.2em;
   letter-spacing: 0.5px;
}

.continue-reading {
   font-size: 80%;
}

.continue-reading a {
    color:steelblue;
}

.signature {
  font-family: 'Kalam', cursive;
  color: #999;
}

img {
    width: 80%;
    height: auto;
    padding: 4px;
    border: thin solid #ccc;
    max-width: 600px;
}

#disqus_thread {
    margin-top: 50px;
}


