html {
    height: 100%;
}

body {
    margin: 0;
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    background: linear-gradient(to top left, #de6161 , #18399c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media only screen and (min-width : 736px) {
    body {
        font-size: 16px;
        padding-left: 20px;
        padding-right: 20px;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
}

@media only screen and (min-width : 480px) {
    body {
        font-size: 10px;
    }
}

@media only screen and (min-width : 737px) {
    body {
        font-size: 16px;
    }
}


nav {
    text-align: right;
    letter-spacing:1px;
    font-size: 90%;
}

@media only screen and (min-width : 736px) {
    nav {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

nav ul {
    padding: 0px;
    list-style: none;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

h1 {
    font-weight: 100;
    font-size: 140%;
    color: #e0a182;
    letter-spacing: 6px;
}
@media only screen and (min-width : 736px) {
    h1 {
        font-size: 200%;
    }
}

a {
    text-decoration: none;
    color: turquoise;
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.main {
    height: calc(100vh - 105px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (min-width : 480px) {
    .main {
        height: calc(100vh - 90px);
        flex-direction: row;
        align-content: center;
    }
}

@media only screen and (min-width : 736px) {
    .main {
        height: calc(100vh - 180px);
        flex-direction: row;
        align-content: center;
    }
}

.content {
    color: #c0ffee;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 100%;
}
.pic > img {
    width: 100%;
    height: auto;
}

@media only screen and (min-width : 480px) {
    .pic > img {
        height: 160px;
        width: auto;
    }
}

@media only screen and (min-width : 736px) {
    .pic > img {
        width: 100%;
        height: auto;
    }
}


@media only screen and (min-width : 736px) {
    .content {
        width: 50%;
        font-size: 115%;
    }
    .pic {
      width: 50%;
    }
}


footer {
    padding-top: 12px;
    border-top: 1px solid #927979;
    font-size: 70%;
    color: aliceblue;
    text-align: center;
}

.signature {
    font-family: 'Kalam', cursive;
    margin-top: 35px;
    color: #ccc;
}

