body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

nav {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: right;
    letter-spacing:1px;
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    margin: 0;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: steelblue;
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}
h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    color: #e0a182;
}
h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    color: #e0a182;
}

footer {
    margin-top: 100px;
    padding-top: 12px;
    border-top: 1px solid #ccc;
    font-size: .8em;
    margin-bottom: 50px;
}

ul.posts {
    margin: 20px auto 40px;
}

ul.posts li {
    list-style: none;
    margin-bottom: 50px;
}

.container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.sub-container {
    margin-left: 20%;
    margin-right: 20%;
}

.quiet {
    color: #999;
}

.post-date {
   color: #999;
   font-size:0.8em;
}

.post-title a {
    color: steelblue;
    font-size: 1.2em;
}

.post {
   font-family: 'Cormorant Garamond', serif;
   font-size: 1.2em;
   letter-spacing: 0.5px;
}

.continue-reading {
   font-size:0.8em;
}

.continue-reading a {
    color:steelblue;
}

.signature {
    font-family: font-family: 'Kalam', cursive;
}


