<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <!-- link to main stylesheet -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300|Josefin+Slab" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <nav>
            <ul>
                <li><a href="/">HOME</a></li>
            </ul>
            </nav>
            <div class="">
                {{ content }}
            </div><!-- /.container -->
            <footer>
            <ul>
                <li><a href="mailto:contact@clearpixel.io">contact</a></li>
            </ul>
            </footer>
        </div>
    </body>
</html>

